<head>
    <title>Welcome</title>
</head>
<div class="imgs" style="position: fixed;right: 40px;margin-top:300px ;">
    <img src="./assets/welcome1.png" alt="" width="350px"> 
  </div>
  <div class="imgs" style="position: fixed;left: 40px;margin-top:300px ;">
    <img src="./assets/welcome2.png" alt="" width="400px"> 
  </div>
<div class="container">
    <br>
    <h1 class="display-3" style="font-weight: 400;">Welcome to <br> Online Test Management System</h1>
    <br><br>
    <div class="buttons">
        <button type="button" class="btn btn-lg "  style="background-color: rgb(87, 87, 87);color: white;" routerLink="/getlogin" >Login</button>
        <button type="button" class="btn btn-lg "  style="float: right;background-color: #66BEAC;color: white;" routerLink="/register" >Sign Up</button>
    </div>
    <br>
    <br>
    <br>
    <footer style="font-size: 12px;">
        <p>Project By</p>
        <p style="color:  #66BEAC;">Aditya Thaokar<br>Vishal John Varghese<br>Akalankam Sai Teja<br>Aditya Rokade<br>Shahid Nazir Shah<br>Atul</p>
    </footer>
    <br><br>
    <p>This is the project for Object Oriented Analysis and Design Subject.</p>
</div>

