<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/AdminHome">Home</a>
        <br>
        <a style="color:rgb(255, 255, 255);" class="nav-item nav-link" disabled>Redirect to → </a><a class="nav-item nav-link" routerLink="/Insert">Insert Question Details /</a><a class="nav-item nav-link" routerLink="/Update">Update Question Details /</a><a class="nav-item nav-link" routerLink="/Question">Delete Question Details</a>
    </div>
</nav>
<style>
.warning{background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
</style>
<br>
<div class="warning">
  <p><strong>Warning!</strong>All the question details feeded in are displayed here, kindly take time to go through if any confusion regarding the question details occurs..because once the add/update/delete operations take place, the data cannot be bought back </p>
</div>
<div class="tablecontent shadow-lg py-4 px-3">
<table class="table table-bordered">
   <tr>
    <th>Test Id</th>
     <th>Question Id</th>
     <th>Question Content</th>
     <th>Option 1</th>
     <th>Option 2</th>
     <th>Option 3</th>
     <th>Marks</th>
     <th>Answer</th>
   </tr>
  <tr *ngFor="let q of questions">
    <td>{{q.testId}}</td>
     <td>{{q.questionId}}</td>
     <td>{{q.questionContent}}</td>
     <td>{{q.option1}}</td> 
     <td>{{q.option2}}</td>
     <td>{{q.option3}}</td>
     <td>{{q.marks}}</td>
     <td>{{q.answerOption}}</td>
   </tr>
</table>
<button class="btn btn-primary" type="button" (click)="getAllQuestions()">Show Existing Question Details</button>
</div>
